body{
font-family:'Source Sans Pro', sans-serif;
}

/*top navigation*/
.pull-left{
margin-left:-50px;
}
.pull-right{
margin-right:-50px;
}
.socials{
background-color:#f5f7fa;
border-bottom:2px solid #e6e9ed;
position:absolute;
width:100%;
z-index:2000;
}

.socials a{
color: #506a85;
font-size: 10px;
padding:15px;
text-decoration:none;
}
.socials .pull-right a{
padding: 15px 5px;
}

.glyphicon::before{
margin-right:5px;
}

.fa{
margin-right:3px;
}

.socials li{
display:inline-block;
font-family:'Source Sans Pro', sans-serif;
}
/*end top navigation*/

/*bottom navigation*/
.navbar .navbar-brand {
padding-left:110px;
}

.stuck_container .navbar{
padding-top:50px;
height:130px;
background:#fff;
border-bottom:none;
z-index:1500;
}
.navbar .container {
top:17px;
position: relative;
}
.stuck_container .nav{
padding-left:50px;
font-family:'Source Sans Pro', sans-serif;
font-weight:bold;
text-transform:uppercase;
}
.nav li{
display:inline-block;
background-color:#fff;
}

.nav a{
color:#506a85 !important;
}
.isStuck{
    margin-top: 0;
    position: fixed;
    top: -50px;
    visibility: visible;
    width: 100%;
    z-index:900;
}

.stuck_container .form-control{
border:1px solid #fff;
box-shadow:none;
}
.stuck_container .btn{
background-color:#fff;
}

/*end bottom navigation*/

/*jumbotron*/
.jumbotron{
  background-image:url('./img/jumbotron.png');
  height: 880px;
  background-repeat: no-repeat;
  background-size: cover;
  }

.jumbotron .container{
    position:relative;
    top:300px;
}

.jumbotron .container h1{
color:#fff;
text-transform:uppercase;
font-weight:bold;
font-size:5.2em;
}

.jumbotron .container p{
font-size:20px;
text-align:center;
color:#a3b1bf;
}

.container .btn{
 transition: all 0.3s ease 0s;
 font-weight:bold !important;
 text-transform:uppercase;
 font-size:15px ;
 padding:20px;
 margin:50px;
 }
/*end jumbotron*/

/*advantages*/
.container .text-center{
color:#506a85;
padding-top:76px;


}
.container .text-center small{
font-size:20px;
text-align:center;
color:#a3b1bf;
}
.adv .fa{
font-size:55px;
color:#00bc9c;
}
.adv a{
font-size:20px;
color:#506a85;
}
.adv .row{
padding-top:80px;
padding-bottom:130px;
}
/*well*/
.well .row{
padding-top:100px;
text-align:center;
padding-bottom:80px;
}
.well h4{
color:#506a85;
font-weight:bolder;
}
.well p {
font-size:13px;
}

 #carousel .item{
  margin: 3px;
}
 #carousel .item img{
    display: block;
    width: 100%;
    height: auto;
    }
.well .thumbnail{
border-radius:0;
padding:0;
}
.well .owl-carousel{
padding-bottom:80px;
}

/*end well*/

/*footer*/
footer{
background:#2f4052;
color:#8c9aa8;
}
footer p a{
float:left;
}
.first_col{
margin-top:80px;
}
footer a{
color:#8c9aa8;
font-weight:bold;
}
footer a:hover{
color:#fff;
text-decoration:none;
}
footer .footer_logo{
position:relative;
right:15px;
}
footer .text-center{
text-transform:uppercase;
font-weight:bolder;
color:#fff !important;
}
footer .img{
width:130px;
margin:5px;
}
footer .col-md-3:nth-child(3){
padding-left:50px;
}


